.profile-picture-preview {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: rgba(70, 71, 78, 0.28);
  border-style: solid;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile-picture-preview-wrapper {
  margin: 10px auto;
  text-align: center;
}
